/*-------- Layout Variables ---------*/
:root{
    --page-size: 100%;
}



/* --------- BODY & GENERICS --------- */
body, html {
  height: var(--page-size);
  width: var(--page-size);
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  text-align: center;
  padding: 0.5em 0em;
  text-decoration: none;
}
li a:hover {
  color: none;
}




/* -------- DIVIDERS -------- */



/* -------- IMAGES ---------- */